/* Si quieren utilizar CSS personalizado para la tarea, utilicen este archivo */
#tablesWrapper{
	margin: 5vw;
	padding: 2vw;
}

.tableBtn{
	background-color: yellow;
	margin: 1vw;
	padding: 1vw;
	border-radius: 1vw;
	width: 15vw;
	text-align: center;
	cursor: pointer;
}

